#unitFrame {
   #info {
      .inner {
         #bubble {
            .value {
               font-family: @headerFontFamily;
            }
         }

         .currLevel {
            font-family: @headerFontFamily;
         }

         #progressbar {
            font-family: @headerFontFamily;
         }

         #craftedByDiv {
            font-family: @headerFontFamily;
         }
      }
   }
}