//
// Variables
// --------------------------------------------------
@import "/ru_lang/ui/root/css/fonts/ofelixgro/stylesheet.css";  // ofelixgro
@import "/ru_lang/ui/root/css/fonts/autourone-ru/stylesheet.css"; // AutourOne (русифицирован)
//@import "/ru_lang/ui/root/css/fonts/grobold/stylesheet.css"; // GROBOLD (русифицирован)

// Typography
// -------------------------
@baseFontFamily:        'AutourOneRegular';

@headerFontFamily:      'groboldregular', 'ofelixgro';
@controlFontFamily:     'groboldregular', 'ofelixgro';
